#========================================
# IDE / OS Files
#========================================
.vscode/
.DS_Store
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

#========================================
# Next.js / Node (Frontend)
#========================================
node_modules/
.next/
out/
build/
dist/
.env*.local
next-env.d.ts
.vercel/

#========================================
# Django / DRF / Python (Backend)
#========================================
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
uploads/
media/
staticfiles/

# Environments
.env
.env.example
.venv
env/
venv/
ENV/

# pytest / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

#========================================
# Docker
#========================================
docker-compose.override.yml
docker-compose.override.yaml
.docker/

#========================================
# Odoo / Database
#========================================
odoo/custom_addons/**/__pycache__/
*.pyc
*.pyo
*.sql
*.dump
*.backup
backend/database_dumps/
database/
db_backups/
filestore/
sessions/
odoo-web-data/
odoo-db-data/
odoo/create_app.bat
odoo/update_app.bat